@model Proyecto_Graduacion.Models.ObjetivoAlcance

@{
    ViewData["Title"] = "Edit";
    var auditorias = (List<SelectListItem>)ViewData["Auditorias"];
}

<h1>Edit</h1>

<h4>ObjetivoAlcance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdObjetivoAlcance" />
            <div class="form-group">
                <label asp-for="Objetivo" class="control-label"></label>
                <input asp-for="Objetivo" class="form-control" />
                <span asp-validation-for="Objetivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alcance" class="control-label"></label>
                <input asp-for="Alcance" class="form-control" />
                <span asp-validation-for="Alcance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAuditoria" class="control-label"></label>
                <select asp-for="IdAuditoria" asp-items="auditorias" class="form-select"></select>
                <span asp-validation-for="IdAuditoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
