@model Proyecto_Graduacion.Models.Auditoria

@{
    ViewData["Title"] = "Edit";
    List<SelectListItem> insti = (List<SelectListItem>)ViewData["IdInsti"];
    List<SelectListItem> usuario = (List<SelectListItem>)ViewData["IdUsua"];
}

<h1>Edit</h1>

<h4>Auditoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAuditoria" />
            <div class="form-group">
                <label asp-for="FechaHora" class="control-label"></label>
                <input asp-for="FechaHora" class="form-control" />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdInstitucion" class="control-label"></label>
                <select asp-for="IdInstitucion" class="form-control" asp-items="insti"></select>
                <span asp-validation-for="IdInstitucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class="form-control" asp-items="usuario"></select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioMod" class="control-label"></label>
                <input asp-for="UsuarioMod" class="form-control" />
                <span asp-validation-for="UsuarioMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
