@model Proyecto_Graduacion.Models.papeles

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>papeles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Papeles" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="idPapeles" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="tipoPapeles" class="control-label"></label>
                <input asp-for="tipoPapeles" class="form-control" />
                <span asp-validation-for="tipoPapeles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="rutaDoc" hidden class="form-control" />
            </div>
            <input type="file" asp-for="File"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
